[submodule "src/pcg-cpp"]
	path = src/extern/pcg-cpp
	url = https://github.com/imneme/pcg-cpp
[submodule "src/tomlplusplus"]
	path = src/extern/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "src/extern/pybind11"]
	path = src/extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "src/extern/cubature"]
	path = src/extern/cubature
	url = https://github.com/stevengj/cubature
